
<!-- Error loading data occurred -->
<div ng-show='error.loading' ng-include="'fragments/error/loading.html'"></div>


<div class="table-responsive" ng-hide='error.loading'>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Description</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Total</th>
				<th><!-- Actions --></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in items | filter: search">
				<td>{{item.description}}</td>
				<td>{{item.price | number: 2 | currency}}</td>
				<td>{{item.quantity}}</td>
				<td>{{item.total | currency}}</td>
				<td>
					<div class="btn-group" name="actions">
						<button type="button" class="btn btn-default" data-toggle="modal" ng-click="editItem(item.id)">Edit</button>
						<button type="button" class="btn btn-default"  data-toggle="modal" ng-click="deleteItem(item.id)">Delete</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Edit Item</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">

						<label for="">Description</label>
						<input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title="" ng-model="edit.description" placeholder="{{edit.description}}">

						<label for="">Price</label>
						<input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title="" ng-model="edit.price" placeholder="{{edit.price}}">

						<label for="">Quantity</label>
						<input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title="" ng-model="edit.quantity" placeholder="{{edit.quantity}}">


						
					</div>
				</div>
				
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-click='saveItemChanges(currentItem.id)' >Save changes</button>
			</div>
		</div>
	</div>
</div>
